body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

section {
    margin: 20px;
}

h2 {
    color: #333;
}

#places-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
}


/* ... (otros estilos) */

.place-card {
  display: none;  /* Ocultar todas las imágenes inicialmente */
  text-align: center;
  margin: 20px;
}

.place-card img {
  max-width: 100%;  /* La imagen no será más ancha que el contenedor */
  height: auto;     /* Mantener la proporción de aspecto */
}

.hidden {
  display: none;  /* Clase para ocultar elementos */
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* ... (otros estilos) */
