header {
  margin: 30px;
  padding: 15px;
  text-align: center;
  background-image: url("/imagenes/ladrillosclaros.jpg");
}
#titulo {
  -webkit-text-stroke: 2px black;
  color: transparent;
  font:  bold 26px MiNuevaLetra,Verdana, sans-serif;

}
@font-face {
  font-family: "MiNuevaLetra";
  src: url("/documentos/SuperMario256.ttf");
}
