header {
  margin: 30px;
  padding: 15px;
  text-align: center;
  border: 1px solid;
  animation: mianimacion 3s ease-in-out 0s infinite normal none;
}
@keyframes mianimacion {
  0% {
    background: #ffffff;
  }
  50% {
    background: #00c3ff;
  }
  100% {
    background: #ffffff;
  }
}
#titulo {
  font: bold 26px Verdana, sans-serif;
}
